//Reset css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul ,li{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    vertical-align: bottom;
}


// setting body 
.resetStyle{
    font-family: "HelveticaNeueLTPro-Lt";
    color: #333;
    .img-default{display: block};
    .img-hover{display: none};
    .clear-float::after{
        content:"";
        height:0;
        line-height:0;
        display:block;
        visibility:hidden;
        clear:both;
    }
    .is-fixed{
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 2px 0 10px rgba(0,0,0,0.15);
        z-index: 999999;
    }
    a{
        text-decoration: none;
        color: #333;
    }.ell-1{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ell-2{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .ell-3{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .ell-4{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .ell-5{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
    .ell-6{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }
    .ell-7{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }
    .home-page{
        textarea::-webkit-input-placeholder,
        input::-webkit-input-placeholder{
            color:#888;
        }
        textarea::-moz-placeholder,
        input::-moz-placeholder{
            color:#888;
        }
        textarea:-moz-placeholder,
        input:-moz-placeholder{
            color:#888;
        }
        textarea:-ms-input-placeholder,
        input:-ms-input-placeholder{
            color:#888;
        }
        .max-w1200{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            @media (max-width:1199px){
                max-width: 962px;
            };
            @media (max-width:991px){
                max-width: 738px;
            };
            @media (max-width:767px){
                max-width: 100%;
                padding: 0 10px;
            };
        }
    }
}

.home{
    &-header{
        z-index: 999999;
        @media (max-width:991px){
            height: 50px;
        };
        .nav-w1200{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            @media (max-width:1220px){
                padding: 0 10px;
            };
        }
        .nav-main{
            background: #fff;
            @media (min-width:992px){
                padding: 15px 0;
            };
            @media (max-width:991px){
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 99999;
                height: 50px;
                border-bottom: 1px solid #ddd;
            };
            .wrap-box{
                .main-info{
                    @media (min-width:992px){
                        float: left;
                        .nav-w1200{
                            .info-l{
                                display: flex;
                                .logo-h1{
                                    float: left;
                                }
                                .logo-des{
                                    float: left;
                                    margin-left: 15px;
                                    max-width: 250px;
                                    display: flex;
                                    align-items: center;
                                }
                            }
                        }
                    };
                    @media (max-width:991px){
                        float: left;
                        .nav-w1200{
                            padding: 0;
                            .info-l{
                                display: flex;
                                .logo-h1{
                                    .logo-a{
                                        display: block;
                                        height: 50px;
                                        padding: 5px 0 5px 15px;
                                        img{
                                            max-height: 100%;
                                            display: block;
                                        }
                                    }
                                }
                                .logo-des{
                                    display: none;
                                }
                            }
                        }

                    };
                }
                .main-btn{
                    @media (max-width:991px){
                        float: right;
                        width: 30px;
                        height: 30px;
                        margin: 10px;
                        float: right;
                        position: relative;
                        display: block;
                        &.open{
                            .bar-1{    
                                top: 50%;
                                transform: rotate(45deg);
                            }
                            .bar-2{height: 0px;}
                            .bar-3{
                                top: 50%;
                                transform: rotate(-45deg);
                            }
                        }
                        i{
                            height: 2px;
                            background: #333;
                            display: block;
                            overflow: hidden;
                            width: 100%;
                            position: absolute;
                            left: 0px;
                            transition: .4s ease;
                            &.bar-1{top: 7px;}
                            &.bar-2{top: 15px;}
                            &.bar-3{top: 23px;}
                        }
                    };
                }
                .main-nav{
                    @media (min-width:992px){
                        float: right;
                        margin-top: 20px;
                        .nn-menu-f{
                            position: relative;
                            &::after{
                                content: '';
                                display: block;
                                clear: both;
                                height: 0;
                            }
                            &>.hasdrop{
                                position: relative;
                                float: left;
                                &:hover{
                                    .nn-menu-s{
                                        visibility: visible;
                                        transform: translateY(0);
                                        opacity: 1;
                                    }
                                    &>a{color: red}
                                }
                                //当前状态
                                &.is-active{
                                    &>a{color: red}
                                }
                                &>a{
                                    font-size: 14px;
                                    padding: 10px 25px;
                                    display: block;
                                    transition: .4s ease;
                                }
                            }
                        }
                        .nn-menu-s{
                            position: absolute;
                            z-index: 99999;
                            visibility: hidden;
                            top:100%;
                            left: 0;
                            right: 0;
                            margin: auto;
                            border: 1px solid #ddd;
                            width: 140px;
                            background-color: #fff;
                            transition: .5s ease;
                            transform: translateY(10px);
                            opacity: 0;
                            &>.hasdrop{
                                position: relative;
                                border-bottom: 1px solid #ddd;
                                &:last-child{
                                    border:none;
                                }
                                &:hover{
                                    background-color: #efefef;
                                    .nn-menu-t{
                                        visibility: visible;
                                        transform: translateY(0);
                                        opacity: 1;
                                    }
                                    
                                }
                                &>a{
                                    font-size: 14px;
                                    padding: 10px;
                                    display: block;
                                    text-align: center;
                                    transition: .4s ease;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }
                        }
                        .nn-menu-t{
                            position: absolute;
                            z-index: 99999;
                            visibility: hidden;
                            top:-1px;
                            left: 100%;
                            border: 1px solid #ddd;
                            min-width: 140px;
                            background-color: #fff;
                            transition: .5s ease;
                            transform: translateY(10px);
                            opacity: 0;
                            &>.hasdrop{
                                position: relative;
                                border-bottom: 1px solid #ddd;
                                &:last-child{
                                    border:none;
                                }
                                &:hover{
                                    background-color: #efefef;
                                }
                                &>a{
                                    font-size: 14px;
                                    padding: 10px;
                                    display: block;
                                    text-align: center;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }
                        }
                    };
                    @media (max-width:991px){
                        display: none;
                        position: fixed;
                        top: 50px;
                        left: 0;
                        width: 100%;
                        max-height: 100%;
                        overflow-y: scroll;
                        background-color: #fff;
                        z-index: 99999;
                        .mobile-navbtn{
                            position:absolute;
                            height: 40px; 
                            width: 40px;
                            top: 0;
                            right: 20px;
                            overflow: hidden;
                            display: block;
                            transition: .4s ease;
                            &::before{
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                                content: '';
                                height: 0;
                                width: 0;
                                border-right: 5px solid transparent;
                                border-top: 5px solid #333;
                                border-left: 5px solid transparent;
                                transition: .4s cubic-bezier(.46, 1, .23, 1.52);
                                transform-origin:center;
                            }
                            &.open{
                                &::before{
                                    transform: rotate(180deg);
                                    border-top: 5px solid b;
                                }
                            }
                        }
                        .nn-menu-f{
                            &>li{
                                border-bottom: 1px solid #ddd;
                                position: relative;
                                &.active{
                                    &>a{background-color: rgba(167, 167, 167, 0.1);}
                                }
                                &>a{
                                    font-size: 14px;
                                    padding: 10px 25px;
                                    display: block;
                                }
                            }
                        }
                        .nn-menu-s{
                            display: none;
                            &>li{
                                position: relative;
                                &>a{
                                    font-size: 14px;
                                    padding: 10px 40px;
                                    display: block;
                                    position: relative;
                                }
                            }
                        }
                        .nn-menu-t{
                            display: none;
                            &>li{
                                &>a{
                                    font-size: 14px;
                                    padding: 10px 60px;
                                    display: block;
                                    position: relative;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-footer{
        .foo-w1200{
            max-width: 1200px;
            width: 100%;
            margin: auto;
            @media (max-width:1220px){
                padding: 0 10px;
            };
        }
        .foo-main{
            background-color: #242625;
            padding: 40px 0;
            .foo-w1200{
                display: flex;
                .main-mes{
                    width: 30%;
                    .tit{
                        font-size: 20px;
                        color: #ffffff;
                        margin: 0 0 20px 0;
                    }
                    .item{
                        display: flex;
                        margin-bottom: 10px;
                        &:last-child{
                            margin-bottom:0;
                        }
                        .dt{
                            flex: 0 0 30px;
                            overflow: hidden;
                        }
                        .dd{
                            flex: 1;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            a{
                                flex: 1;
                                overflow: hidden;
                                display: block;
                                color: #fff;
                                font-size: 14px;
                            }
                        }
                    }
                }
                .main-nav{
                    width: 30%;
                    .tit{
                        font-size: 20px;
                        margin: 0 0 20px 0;
                        color: #fff;
                    }
                    .nav-list{
                        li{
                            margin-bottom: 10px;
                            &:last-child{margin-bottom:0;}
                            a{
                                color: #fff;
                                font-size: 14px;
                                transition: .3s;
                                &:hover{
                                    color: red;
                                }
                            }
                        }
    
                    }
                }
            }
        }
        .foo-copy{
            background-color: #242625;
            .foo-w1200{
                border-top: 1px solid #414342;
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                .copy-l{
                    font-size: 14px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    .copy-a{
                        a{
                            margin-right: 10px;
                            font-size: 14px;
                            color: #fff;
                            transition: .3s;
                            &:hover{
                                color: #e71424;
                            }
                        }
                    }
                }
                .copy-r{
                    .copy-link{
                        width: 200px;
                        height: 30px;
                        border: solid 1px #fff;
                        .dropdown-toggle{
                            display: block;
                            height: 100%;
                            color: #fff;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 10px;
                        }
                        .dropdown-menu{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.home-page{
    .home-banner{
        #ban-swiper{
            .item-box{
                display: block;
                overflow: hidden;
                img{
                    display: block;
                    width: 100%;
                }
            }
            .swiper-pagination{
                bottom: 3%;
                .swiper-pagination-bullet{
                    opacity: 1;
                    outline: none;
                    &.swiper-pagination-bullet-active{
                        background-color: red;
                    }
                }
            }
        }
    }
}